.header {
  background-color: #2196f3;
  color: white;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
}

.header h1 {
  font-size: 3em;
  margin: 0;
}
